

    .text-zone {
        text-align: center;
        justify-content: center;
        margin-top: 100px;
        color: white;
        font-size: 3em;
        font-family: 'La Belle Aurore';

       
    }
