@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

img.about-pic {
    max-width: 100%;
    width: 25em;
    height: 18em;
    margin-right: 20px;
    float: left;
    border-radius: 10px;
    margin-left: 25px;
}

p {
    margin-right: 40px;
    margin-top: 200px;
    font-family:  'Roboto+Slab';
}

.text-home {
    text-align: center;
    justify-content: space-between;
     /* margin-top: 100px; */
    color: white;
    font-size: 2em;
}